NLP/
*.log
.env
__pycache__/
evaluation_results/
data/
*.ps1
logs/
FacebookAI_roberta-base-finetuned-banking77/
google-bert_bert-base-uncased-finetuned-banking77/
microsoft_deberta-v3-base-finetuned-banking77/
microsoft_deberta-v3-small-finetuned-banking77/
classic_ml/