.stApp {
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63468.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}